.header {
    background-color: #E8A87C;
}

.header__content {
    max-width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
}

.header__logo {
    font-weight: 700;
    font-size: 30px;
    margin: 40px 30px 40px 0;
    cursor: pointer;
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

.header__add-to {
    margin-left: 30px;
    display: flex;
}

@media (max-width: 400px) {
    .header__logo {
       font-size: 20px; 
       margin: 25px 30px 25px 0;
    }
    .header__add-to  {
        margin-left: 10px;
    }
}