.regular-nav {
    opacity: 1;
    visibility: visible;
}

.regular-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.regular-nav__list {
    display: flex;
    color: white;
}

.regular-nav__link a {
    text-decoration: none;
    transition: all 0.2s ease;
    line-height: 24px;
    color: inherit;
    font-size: 20px;
}

.regular-nav__link a:hover {
    opacity: 0.5;
}

.regular-nav__link:not(:last-child) {
    margin-right: 20px;
}
