.main {
    min-height: calc(100vh - 135px - 80px);
    position: relative;
    padding-top: 50px;
}

.main__content {
    max-width: 1200px;
    margin: 50px auto 50px;
    padding: 10px;
}

@media (max-width: 500px) {
    .main {
        padding-top: 25px;
    }

    .main__content {
        margin-top: 25px;
    }
}

.main__title {
    text-align: center;
    margin: 0;
    color: #E27D60;
}

.main__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}