.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.11);
    max-height: 475px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.card__image {
    height: 70%;
    min-height: 322px;
    overflow: hidden;
    align-items: center;
    display: flex;
    padding: 10px;
}

.card__image img {
    width: 100%;
}

.card__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px 15px;
    background-color: #41B3A3;
    color: white;
    height: 20%;
}

.card__title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    max-height: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 15px;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__price {
    margin: 0 8px 0 0;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__button {
    display: inline-block;
    background-color: #2EC1AC;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: 100;
    font-size: 16px;
    transition: all 0.1s ease-in-out;
}

.card__button:hover {
    background-color: #E27D60;
}
