.cart-page-item {
    display: flex;
    align-items: center;
}

.cart-page-item:not(:last-child) {
    margin-bottom: 30px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

.cart-page-item p {
    margin: 0;
}

.cart-page-item__img {
    width: 55px;
    display: flex;
    margin-right: 30px;
}

.cart-page-item__img img {
    width: 100%;
}

.cart-page-item__title {
    flex: 1 0 100px;
}

.cart-page-item__column {
    display: flex;
    flex: 0 0 150px;
    align-items: center;
}

.cart-page-item__column_price {
    flex: 0 0 100px;
    justify-content: space-between;
}

.cart-page-item__counter {
    margin-right: 40px;
    font-size: 18px;
}

.cart-page-item__items {
    display: inline-block;
    padding: 0 8px;
}

.cart-page-item__icon {
    color: #2EC1AC;
    vertical-align: middle;
    font-size: 35px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    user-select: none;
}

.cart-page-item__icon:hover {
    opacity: 0.5;
}

.cart-page-item__trash-icon {
    color: #E97171;
    cursor: pointer;
    margin-left: 20px;
    font-size: 25px;
    transition: all 0.1s ease-in-out;
}

.cart-page-item__trash-icon:hover {
    opacity: 0.5;
}

.cart-page-item__price {
    font-weight: bold;
}

.cart-page-item__price span {
    font-weight: normal;
}
