.cart-page-item {
    display: grid;
    grid-template-columns: minmax(40px, 100px) 1fr 100px 100px 25px;
    column-gap: 32px;
    align-items: center;
}

.cart-page-item:not(:last-child) {
    margin-bottom: 30px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

@media (max-width: 630px) {
    .cart-page-item {
        grid-template-columns: minmax(20px, 60px) 1fr 100px;
        row-gap: 10px;
        column-gap: 5px;
    }
}

.cart-page-item p {
    margin: 0;
}

.cart-page-item__img {
    min-width: 40px;
    max-width: 100px;
    display: flex;
    flex: 1 1 auto;
    margin-right: 30px;
}

.cart-page-item__img img {
    width: 100%;
}

.cart-page-item__title {
    flex: 1 0 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (max-width: 630px) {
    .cart-page-item__title {
        grid-row: 1/4;
    }
    .cart-page-item__img {
        grid-row: 1/4;
    }
}

.cart-page-item__counter {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 630px) {
    .cart-page-item__counter {
        grid-row: -1/1;
    }
}

.cart-page-item__icon {
    color: #2EC1AC;
    vertical-align: middle;
    font-size: 35px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    user-select: none;
}

.cart-page-item__icon:hover {
    opacity: 0.5;
}

.cart-page-item__items {
    padding: 0 8px;
}

.cart-page-item__column_price {
    display: flex;
    justify-content: space-between;
}

.cart-page-item__price {
    font-weight: bold;
}

.cart-page-item__price span {
    font-weight: normal;
}

.cart-page-item__trash-icon {
    color: #E97171;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.1s ease-in-out;
}

.cart-page-item__trash-icon:hover {
    opacity: 0.5;
}

@media (max-width: 630px) {
    .cart-page-item__trash-icon {
        justify-self: end;
    }
}