.favorite {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@media (max-width: 460px) {
    .favorite {
        flex-direction: row;
    }
}

.favorite__icon {
    font-size: 27px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
}

.favorite__caption {
    margin: 0;
    color: white;
    font-size: 18px;
    line-height: 21px;
    margin-top: 4px;
    font-weight: 100;
    cursor: pointer;
}

@media (max-width: 460px) {
    .favorite__caption {
        display: none;
    }
}

.favorite__icon:hover {
    opacity: 0.5;
}

.favorite__counter {
    position: absolute;
    top: -17px;
    right: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #2EC1AC;
    text-align: center;
    color: white;
    line-height: 24px;
    z-index: 10;
}

@media (max-width: 460px) {
    .favorite__counter {
        top: -6px;
        right: -9px;
    }
}