.input-field {
    background-color: white;
    flex: 1 1 auto;
    overflow: hidden;
    margin-left: 43px;
    padding-left: 43px;
    border-radius: 5px;
    position: relative;
    opacity: 1;
    visibility: visible;
}

.input-field__input {
    border: none;
    margin: 9px 0 9px 0;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.input-field__icon {
    position: absolute;
    top: 50%;
    left: 6px;
    font-size: 27px;
    transform: translate(0, -50%);
}
