.popup-nav {
    border: none;
    background-color: unset;
    margin-left: 20px;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.popup-nav__icon {
    font-size: 27px;
    transition:  all 0.3s ease-in-out;
}

.popup-nav__icon:hover {
    opacity: 0.5;
}

.popup-nav__popup {
    position: absolute;
    top: 60px;
    right: -220px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    width: 200px;
    background-color: rgb(255, 255, 255);
    z-index: 25;
    padding: 20px 15px;
    box-sizing: border-box;
    box-shadow: 0px 0px 11px #acacac69;
}

.popup-nav__popup_visible {
    right: 0;
}

.popup-nav__nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popup-nav__nav-list li {
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
}

.popup-nav__nav-list li:last-child {
    margin-bottom: 0;
}

.popup-nav__nav-list a {
    text-decoration: none;
    color: black;
    transition: 0.3 all ease;
}

.popup-nav__nav-list a:hover {
    opacity: 0.5;
}

@media (max-width: 780px) {
    .popup-nav {
        position: relative;
        opacity: 1;
        visibility: visible;
    }
}